body, html {
    background-color: black;
    font-family: 'Source Sans Pro', sans-serif;
}

#wrapper {
    width: 7.0in;
    background-color: white;
    margin: auto;
    padding: 0.1in 0.25in;
}

.sec {
    clear: both;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

ul {
    list-style-type: circle;
}

/* TODO: Better page break management, this is okay for now but could be more automatic when sections get longer */
@media print {
    @page { /* Hide header/footer */
        margin: 0;
    }

    .sec {
        page-break-inside: avoid;
    }

    body, html {
        background-color: white !important;
    }

    /*
    img {
        visibility: hidden;
        display: none;
    }


    .jobDesc {
        margin: 0 !important;
    }
    */
}

/* Header */
header {
    text-align: center;
}

header p {
    margin: 0;
}

header h1 {
    margin: 0;
}

h1, h2 {
    /* color: #0957C3;
    border-color: 0957C3; */
    border-color: black;
}

/* General Resume Content */

h2, h3, p {
    display: block;
    margin: 0;
}

h2 {
    font-size: 13pt;
}

h3 {
    font-size: 11pt;
}

h2 {
    width: 100%;
    border-bottom: solid 2px;
    padding: 0;
    margin-bottom: 5px;
    padding-top: 20px;
    font-weight: bolder;
}

img, .imgPlaceholder {
    width: 0.4in;
    margin-right: 0.1in;
}

p, li {
    font-size: 11pt;
}

.imgBlock {
    height: 100%;
}

.content-float-l {
    float: left;
}

.content-float-r {
    float: right;
    text-align: right;
}

/* Education */

/* Work Item */
.workItem, .eduItem {
    clear: both;
    display: block;
}

.jobDesc {
    margin: 0px 0 10px 40px;
    padding-left: 22px;
    clear:both;
}

.company {
    font-style: italic;
}

/* Projects */
.project {
    width: 1.62in;
    text-align: center;
    padding: 4px;
    margin: 2px;
    height: 100%;
}

.project h2 {

}

.projectRow {
    width: 100%;
    height: auto;
    clear: both;
}

.listBump {
    padding-left: 25px;
}